@charset "UTF-8";

/* Style the video to cover the entire screen */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; /* Place behind everything */
}

/* Centered text box */
 .text-box {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,184,241,0.78);
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-radius: 41px;
    font-size: 24px;
    text-align: center;
    color: #000;.video-container .background-video {
}
