@charset "UTF-8";

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
height: 100%;
width: 100%;
overflow: hidden;
font-family: "STIX Two Text", serif;
}

.viewer {
position: relative;
height: 100vh;
width: 100vw;
}

.viewer img {
position: absolute;
inset: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.viewer .description {
    position: absolute;
    left: 78px;
    bottom: 89px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.5) 0%,rgba(87,87,87,0.5) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.5) 0%,rgba(87,87,87,0.5) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.5) 0%,rgba(87,87,87,0.5) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.5) 0%,rgba(87,87,87,0.5) 100%);
    border-radius: 10px;
    padding: 10px;
    font-size: 70px;
    text-align: center;
}
